
<div class="row">
  <div class="col-12">
    <h2 class="text-secondary">{{'Admin.Users.TitlePlural' | translate }}</h2>
  </div>
  <div class="col-12" [ngVar]="{}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
      <advanced-search>
        <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Users.TitlePlural'"></span>
    </div>
    <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Users.Title'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3 mt-4 mb-3">
    <div class="font-lg btn-toolbar">
      <a class="text-decoration-none btn btn-outline-indigo btn-md" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>&nbsp;</span><span [translate]="'Admin.Users.CreateUser'"></span>
      </a>
    </div>
  </div>
  <div class="col-12 mb-4">
    <app-advanced-table #table [height]="600" (load)="onDataLoad($event)" [config]="config"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>

